
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: var(--primary-blockBackgroundColor);
  border-bottom: 1px solid var(--primary-borderColor);
  flex-shrink: 0; // Không co lại
}

.user-info {
  display: flex;

  gap: 1rem;

  .profile-pic{
    width: 4.6rem;
    height: 4.6rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    .user-name {
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--primary-textColor);
      margin: 0;
    }

    .user-status {
      font-size: 1.3rem;
      color: var(--primary-textColor);
      opacity: 0.8;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .online-dot {
        width: 0.8rem;
        height: 0.8rem;
        background-color: green;
        border-radius: 50%;
      }
    }
  }
}

.action-buttons {
  display: flex;
  gap: 1rem;

  .btn {
    background-color: transparent;
    color: var(--primary-textColor);
    border-radius: 50%;
    width: 4.2rem;
    height: 4.2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--primary-hoverBackgroundColor);
      color: var(--primary-color);
    }
  }
}