.container {
  padding: 6rem 20rem;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--primary-backgroundColor);
  overflow: hidden;

  & .chat-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--primary-borderColor);
    border-radius: 0.8rem;

    .block-left {
      flex: 2;

      animation: fadeIn 0.3s ease-out;

    }
    .no-slide-bar{
      border-top-left-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
      max-width: 50px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid var(--primary-borderColor);
      background-color: var(--primary-backgroundColor);

      animation: fadeIn 0.3s ease-out;
    }

    .more-btn {
      background-color: transparent;
      color: var(--primary-textColor);
      border-radius: 50%;
      width: 4.2rem;
      height: 4.2rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: var(--primary-hoverBackgroundColor);
        color: var(--primary-color);
      }
    }

    .block-right {

      flex: 8;

    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

  }

  .setting-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;

    animation: fadeIn 0.3s ease-out;
  }
  .copyright {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    color: var(--primary-textColor);
    opacity: 0.2;
    font-size: 1.4rem;
  }

}