
.chat-container-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

}


.block-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 7;
  border-right: 1px solid var(--primary-borderColor);


  .header {
    flex-shrink: 0;
  }

  .body {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
  }

  .footer {
    flex-shrink: 0;
  }
}


.block-right {
  flex: 3;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-color: var(--primary-blockBackgroundColor);
  border-left: 1px solid var(--primary-borderColor);
  height: 100%;
  overflow: hidden;
}

.chat-info-wrapper {
  padding: 2.5rem 1.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: slideInFromRight 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow-y: auto;
}

@keyframes slideInFromRight {
  from {
    /* Bắt đầu từ bên ngoài lề PHẢI */
    transform: translateX(100%);
  }
  to {
    /* Di chuyển về vị trí 0 */
    transform: translateX(0);
  }
}
.chat-container.no-chat-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--primary-blockBackgroundColor); // Hoặc màu nền nhạt
  color: var(--primary-textColor);

  .welcome-content {
    text-align: center;

    .icon-wrapper {
      display: inline-flex;
      padding: 1rem;
      background-color: rgba(var(--primary-rgb), 0.1);
      border-radius: 1rem;
      margin-bottom: 1rem;
      color: var(--primary-color);

      // Animation nảy nhẹ
      animation: bounce 2s infinite;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    p {
      color: #888;
      font-size: 1.2rem;
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-5px);}
}
