.container {
  padding: 6rem 20rem;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--primary-backgroundColor);
  overflow: hidden;

  & .chat-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #333;
    border: 1px solid var(--primary-borderColor);
    border-radius: 0.8rem;

    .block-left {

      flex: 2;
    }

    .block-right {

      flex: 8;

    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

  }

  .setting-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;

    animation: fadeIn 0.3s ease-out;
  }


}