.container {
  padding: 6rem 20rem;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--primary-backgroundColor);

  & .chat-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #333;
    border: 1px solid var(--primary-borderColor);
    border-radius: 0.8rem;

    .block-left {

      flex: 2;
    }

    .block-right {

      flex: 8;

    }
  }
}