
.message-wrapper {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;



  .avatar {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    object-fit: cover;
    align-self: flex-start;
  }

  .message-content {
    display: flex;
    flex-direction: column;
    max-width: 70%;
  }


  .message-bubble {
    background-color: var(--primary-blockBackgroundColor);
    padding: 1.2rem 1.6rem;
    border-radius: 1.2rem;

    .message-text {
      margin: 0;
      font-size: 1.5rem;
      color:  var(--primary-textColor);

      white-space: pre-wrap; // Giữ ngắt dòng
      word-wrap: break-word; // Tự ngắt từ dài
    }
  }

  .message-image {
    width: 24rem;
    border-radius: 1.2rem;
    border: 2px solid var(--primary-borderColor);
  }

  .message-time {
    font-size: 1.1rem;
    color: var(--primary-textColor);
    opacity: 0.4;
    margin: 0.4rem 0 0 0.8rem;
    align-self: flex-start; // Căn lề thời gian
  }


  &.me {
    justify-content: flex-end; // Đẩy tin nhắn sang phải

    .message-content {
      align-items: flex-end; // Căn lề phải
    }

    .message-bubble {
      background-color: var(--primary-color);
    }

    .message-time {
      align-self: flex-end;
    }
  }
}