.page-wrapper {
  max-width: 100vw;
  min-height: 100vh;
  background: var(--primary-backgroundColor);
  padding: 1rem;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .logo-text {
      color: var(--primary-color);
      font-size: 4rem;
      font-weight: 600;

      @media (max-width: 768px) {
        font-size: 3rem;
        text-align: center;
      }
    }

    .sub-title {
      color: var(--primary-textColor);
      opacity: 0.8;
      font-size: 1.4rem;
      font-weight: 600;

      @media (max-width: 768px) {
        font-size: 1.1rem;
        text-align: center;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sign-up-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #242424;
      border-radius: 0.8rem;
      border: 1px solid var(--primary-borderColor);
      padding: 1rem 3rem;
      width: 100%;
      max-width: 60rem;

      @media (max-width: 768px) {
        width: 95%;
        padding: 1rem 1.5rem;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        .title {
          font-size: 2rem;
          font-weight: 600;
          color: var(--primary-textColor);
          text-align: center;
          margin-bottom: 1.4rem;
        }

        .inputs-group {
          display: flex;
          justify-content: space-between;
          gap: 1.6rem;

          @media (max-width: 768px) {
            flex-direction: column;
            gap: 1rem;
          }
        }

        .form-row {
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 0.5rem;
        }

        label {
          color: rgba(255, 255, 255, 0.7);
          font-size: 1.4rem;
        }

        .input,
        select {
          background-color: transparent;
          border: 2px solid var(--primary-borderColor);
          border-radius: 0.8rem;
          padding: 1.2rem 1.6rem;
          color: var(--primary-textColor);
          font-size: 1.4rem;
          width: 100%;
          appearance: none;
          cursor: pointer;

          &:focus {
            outline: none;
            border-color: var(--primary-color);
          }
        }

        option {
          background-color: #242424;
          color: var(--primary-textColor);
          font-size: 1.4rem;
          padding: 1rem;
        }

        .checkbox-row {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          margin-top: 0.5rem;
          color: var(--primary-textColor);
          margin-bottom: 0.5rem;

          input[type="checkbox"] {
            width: 1.6rem;
            height: 1.6rem;
            accent-color: var(--primary-color);

            cursor: pointer;
            margin: 0;
          }

          label {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            color: rgba(255, 255, 255, 0.7);
            font-size: 1.4rem;
            line-height: 1.6rem;

            span {
              display: block;
              margin: 0.5rem;
              color: var(--primary-color);
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        button[type="submit"] {
          background-color: var(--primary-color);
          color: var(--primary-textColor);
          border: none;
          border-radius: 0.8rem;
          padding: 1.2rem 2rem;
          font-size: 1.6rem;
          font-weight: 600;
          cursor: pointer;
          transition: 0.2s ease;

          &:hover {
            opacity: 0.8;
          }
        }
        .error{
          color: rgba(248, 84, 84, 0.7);
          font-size: 1.2rem;
        }
      }

      .line {
        margin: 1.6rem 0;
        color: rgba(255, 255, 255, 0.3);
        font-size: 1.4rem;
        text-align: center;
      }

      /*  Social Buttons  */
      .social-btn {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 0.8rem;
        padding: 1.2rem 2rem;
        font-size: 1.6rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease;
        border: 2px solid transparent;

        &.google {
          margin-bottom: 1rem;
          background-color: #fff;
          color: #000;

          &:hover {
            background-color: #e9e9e9;
          }
        }

        &.github {
          background-color: #1f1f1f;
          color: #fff;
          border-color: var(--primary-borderColor);
          margin-bottom: 1rem;

          &:hover {
            background-color: #333;
            border-color: var(--primary-color);
          }
        }

        img {
          width: 2rem;
          height: 2rem;
        }
      }

      p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.4rem;
        margin-top: 1rem;

        span {
          color: var(--primary-color);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .copyright{
      width: 100%;
      text-align: center;
      margin-top: 1rem;
      color: var(--primary-textColor);
      opacity: 0.2;
      font-size: 1.4rem;

    }
  }
}
