.slide-bar-wrapper {
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-blockBackgroundColor);
  border-right: 2px solid var(--primary-borderColor);


  animation: slideInFromLeft 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden;

  & .header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-text {
        color: var(--primary-color);
        font-size: 3rem;
        font-weight: 600;
      }

      .more-btn {
        background-color: transparent;
        color: var(--primary-textColor);
        border-radius: 50%;
        width: 4.2rem;
        height: 4.2rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: var(--primary-hoverBackgroundColor);
          color: var(--primary-color);
        }
      }
    }

    & .profile {
      display: flex;
      gap: 1rem;
      width: 100%;
      margin-top: 1.5rem;
      align-items: center;

      .add-friend-btn {
        background-color: transparent;
        color: var(--primary-textColor);
        border-radius: 50%;
        width: 4.2rem;
        height: 4.2rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: background-color 0.2s ease;

        &:hover {
          color: var(--primary-color);
        }
      }

      .profile-pic {
        width: 4.6rem;
        height: 4.6rem;
        object-fit: cover;
        border-radius: 50%;
      }

      .info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        gap: 0.6rem;

        .full-name {
          font-size: 1.6rem;
          color: var(--primary-textColor);
          font-weight: 500;
        }

        .username {
          font-size: 1.4rem;
          color: var(--primary-textColor);
          opacity: 0.6;
        }
      }
    }
  }


  & .body {

    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }


  & .footer {
    flex-shrink: 0;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    .settings-btn {
      width: 100%;
      background: none;
      border: none;
      text-align: center;
      color: var(--primary-textColor);
      font-size: 1.4rem;
      font-weight: 600;
      opacity: 0.6;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #777;
  }

  @keyframes slideInFromLeft{
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}